python-telegram-bot==13.5
yt-dlp==2025.1.12
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pyTelegramBotAPI
python-dotenv
Flask==2.0.1
gunicorn==22.0.0
