python-telegram-bot @ git+https://github.com/python-telegram-bot/python-telegram-bot@master
yt-dlp @ git+https://github.com/yt-dlp/yt-dlp@nightly
requests
psycopg2
pyTelegramBotAPI @ git+https://github.com/eternnoir/pyTelegramBotAPI@master
python-dotenv
Flask==2.2.5
gunicorn==22.0.0
